<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <br>
        <p>Name</p>
        <p>Desc</p>
        
        
        <% @categories.each do |category| %>
          <tr>
            <p><%= category.name %></p>
            <p><%= category.desc %></p>
            <p><%= link_to 'Show', category %></p>
            <p><%= link_to 'Edit', edit_category_path(category) %></p>
            <p><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          </tr>
        <% end %>      
      </br>

    </div>
      

      <%= link_to 'New Category', new_category_path %>
    
  </div>
</div>

