<%= form_with(model: product local:true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-form"> 
    <div class="form-field"><br>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-field"><br>
      <%= form.label :description %>
      <%= form.text_area :description, class: "form-control" %>
    </div>

    <div class="form-field"><br>
      <%= f.label :image_url %>
      <%= f.text_field :image_url, class: "form-control"%>
    </div>

    <div class= "form-field">
      <%= f.label :colour %><br>
      <%= f.text_field :colour, class: "form-control" %>
    </div>

    <div class="form-field">
      <%= f.label :price %><br>
      <%= f.text_field :price, class: "form-control" %>
    </div>

    <div class="actions">
      <%= form.submit id:"btn btn-default" %>
    </div>   
  </div><!--end container-->
<% end %>
  