<%= form_for(product) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container container-form"> 
    <div class="row">
      <div class="col-md-7 col-xs-12">
        <div class="field"><br>
          <%= form.label :name, class: "label" %>
          <%= form.text_field :name, class: "form-group"%>
        </div>

        <div class="form-field"><br>
          <%= form.label :description, class: "label"%>
          <%= form.text_area :description, class: "texterea"%>
        </div>
      </div>

      <div class="col-md-5 col-xs-12">
        <div class="form-field"><br>
          <%= form.label :image_url, class: "label" %>
          <%= form.text_field :image_url, class: "form-group"%>
        </div>

        <div class= "form-field"><br>
          <%= form.label :colour, class: "label" %>
          <%= form.text_field :colour, class: "form-group" %>
        </div>

        <div class="form-field"><br>
          <%= form.label :price, class: "label" %>
          <%= form.text_area :price, class: "form-group" %>
        </div>

        <div class="actions"><br>
          <%= form.submit class: "btn btn-primary" %>
        </div>           
      </div><!--end column-->          
    </div><!--end row-->        
  </div><!--end container-->    

<% end %>
  