<% cache product do %>
    <div class ="col-md-4 col-xs-12 products-grid">
      <div class="row">
        <% if product.image_url== nil || product.image_url==""%>
                <%= image_tag("Empty-img.png", class: "img-responsive") %>
              <% else %>
                <%= link_to image_tag(product.image_url, class: "img-responsive img-rounded, btn-link"), product %>
        <% end %>

      <a href="#"><h2><%= product.name %></h2></a>
      <p>Colour: <%= product.colour %></p>
      <p>Price: € <%= product.price %></p>
      <p> Category: <%= link_to product.category.name, category_path(product.category_id) if product.category %></p>
      <%= link_to 'Shop this', product %>
      <% if signed_in? && current_user.admin? %>
        <%= link_to 'Edit', edit_product_path(product) %>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      </div> <!--end row-->    
    </div><!--end column-->
  
<% end %>


